@page "/"

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex justify-content-center">
                <a class="w-50 m-1 btn btn-primary" href="/join"><span class="oi oi-people"></span> Join questionnaire</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-center">
                <a class="w-50 m-1 btn btn-secondary" href="/create"><span class="oi oi-plus"></span> Create questionnaire</a>
            </div>
        </div>
    </div>
</div>
